:root {
    --gui-padding: 8px;
}

body {
    margin: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

#wrapper #viewport {
    width: 100%;
    height: 100%;
}

#wrapper #viewport #renderer {
    position: absolute;
}

#wrapper #inspector {
    position: absolute;
    background-color: white;
    right: var(--gui-padding);
    bottom: var(--gui-padding);
    pointer-events: none;
}

#wrapper #inspector h2 {
    padding: 4px;
    margin: 0;
}