:root {
    --gui-padding: 8px;
    --gui-button-spacing: 4px;
    --gui-border: 1px solid white;
}

body {
    margin: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

#wrapper #viewport {
    width: 100%;
    height: 100%;
}

#wrapper #viewport #renderer {
    position: absolute;
}

#wrapper .gui {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: monospace;
    font-size: 12pt;
    padding: 4px;
}

#wrapper .gui.left {
    border-left: var(--gui-border);
    text-align: left;
}

#wrapper .gui.right {
    border-right: var(--gui-border);
    text-align: right;
}

#wrapper .gui button {
    display: block;
    cursor: pointer;
    margin-top: var(--gui-button-spacing);
    margin-bottom: var(--gui-button-spacing);
}

#wrapper .gui .line {
    display: block;
}

#wrapper #inspector {
    display: none;
    position: absolute;
    right: var(--gui-padding);
    bottom: var(--gui-padding);
}

#wrapper #controls {
    position: absolute;
    left: var(--gui-padding);
    top: var(--gui-padding);
}